{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

    <center>
        <a><img src="{% static 'img/b5.jpeg' %}" height="170px" width="1370px"></a></center>
</header>
 <center>
        <a href=""><img src="{% static 'img/b13.png' %}" height="150px" width="170px"></a></center>
<center><h1>Thank You Being Part Of This </h1>

    <a href="/" >HOME</a></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--<center><div class='footer navbar-fixed-bottom my-footer'>-->
<!--    <p class="text-center">&copy;2022 Co-WIN All Rights Reserved</p>-->
<!--</div></center>-->
</body>
</html>